
:root{
    --primary-color:#ff0000de;
    --background-color:#f0f3f7;
    --secon-color:_ #9da2ad;
    --grey:• #7a7a7b;
    --white:#ffffff;
    
  }
  
.nav a{
text-decoration: none;


}

.nav{
    
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 02) 0px 2px 8px 0px;
  }
  
  .menu-wrap {
      max-width: 1366px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
  }
  
  .logo {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--primary-color);
  }
  
  .menu{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-item{
  margin-left: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: var(--grey);
  transition: .5s ease-in-out;
  cursor: pointer;
  
  }
  
  