
body {
    margin: 0;
    padding: 0;
    background-color: #ebecf0;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    overflow: hidden;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navbar>div {
    padding: 50px 30px;
    margin: 50px;
    font-size: 20px;
}

.navbar .logo-icon {
    position: relative;
    left: -20px;
}

.navbar .logo {
    position: relative;
    right: 500px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.img img {
    width: 77%;
}

.img {
    position: fixed;
    z-index: 0;
    top: 10.6%;
    left: 47%;
}

.title {
    position: absolute;
    top: 360px;
    left: 290px;
    z-index: 2;
}

.title h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -5px;
    margin-bottom: 95px;
    position: relative;
    height: 160px;
    width: 600px;
}

.title h1 .text-one {
    position: absolute;
}

.title h1 .text-one label {
    color: #cccccc;
}

.title h2 {
    position: absolute;
    top: 45px;
    left: -13px;
    color: #eda7a7;
    z-index: -1;
    font-size: 180px;
    font-weight: 900;
    letter-spacing: 2px;
}

.title h2 span {
    font-size: 220px;
}



.media {
    position: absolute;
    left: -120px;
    top: 50%;
    transform: rotate(-90deg);
}

.media ul {
    list-style: none;
}

.media ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
}

.media ul li:not(:last-child) {
    padding-right: 60px;
}

.left-right {
    position: absolute;
    right: 40px;
    bottom: -3%;
}

.left-right ul {
    list-style: none;
}

.left-right ul li {
    display: inline-block;
    padding: 10px 15px;
    margin: 20px 20px 20px 0;
    font-size: 27px;
}

img {
    opacity: 0;
    animation: img-appear 1s linear forwards;
    animation-delay: 2.4s;
}

@keyframes img-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img::after {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #8c6c79;
    position: absolute;
    animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 2s;
}

@keyframes rev-img {
    0% {
        left: 0%;
        width: 0%;
    }
    50% {
        left: 0%;
        width: 47%;
    }
    100% {
        left: 47%;
        width: 0%;
    }
}